* {
  box-sizing: border-box;
}

//:root {
//  --color-bg: #2C2C32;
//  --color-active: #0f7dc6;
//}

body {
  margin: 0;
}

header {
  background-color: #001244;
  padding: 20px;
  text-align: center;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  text-align: center;
  margin-top: 0;
}

//.container {
//  max-width: 900px;
//  padding-left: 2rem;
//  padding-right: 2rem;
//  margin: 0 auto;
//}

main {
  min-height: calc(100vh - 85px - 22px);

}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}


footer {
  height: 20px;
  background-color: #021521;
  color: #fff;
}

.landos {
  margin: auto;
  min-height: 1112px;
  width: 100%;
  background-color: #0f7dc6;

  .frame-item {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 15, 153, 0.5);
    border-radius: 30px;
    position: relative;
    margin: auto;
    top: 40px;
    width: 80%;
    min-height: 700px;

    .frame {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap-reverse;

      .text {
        margin: 10% 0 0 0;
        width: 400px;
        height: 40%;

        .text-size {
          font-size: 30px;
          width: 60%;
        }

        p {
          color: #ffffff;
        }
      }

      .image {
        width: 460px;
        height: 334.13px;

        .mobile {
          width: 500px;
          height: 500px;
        }

        .image-one {
          width: 400px;
          position: absolute;
          right: 10%;
          top: 10px;
          display: flex;
          justify-content: space-between;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .image-two {
          width: 400px;
          position: absolute;
          right: 10%;
          top: 200px;
          display: flex;
          justify-content: space-between;

          img {
            width: 100px;
            height: 100px;
          }
        }
      }

    }

    .item-block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      div {
        width: 270px;
        height: 220px;
        text-align: center;
        border-radius: 30px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 8, 153, 0.5);

        img {
          margin: 30% 0 0 0;
        }

        .image-inside {
          position: absolute;
          top: 37px;
          left: 107px;

        }

        p {
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}


.common {
  display: flex;

  .menu {
    width: 20%;
    height: 748px;
    background-color: aliceblue;
  }

  .container::-webkit-scrollbar {
    width: 0;
  }

  .container {
    width: 70%;
    min-height: 748px;
    overflow-x: auto;

    .container-nav {
      margin: 20px 20px 20px 0;
      display: flex;
ul{
  li {
    //margin-top: 20px;
    list-style: none;
  }
  li:first-child {
       margin-top: 30px;
       list-style: none;
     }

}
      .sort-inc {
        margin-left: 200px;
        position: absolute;
      }

      .sort-dec {
        margin-left: 300px;
        position: absolute;
      }
    }

    .title-item {
      display: flex;
      margin-top: 30px;

      .title {
        min-width: 110px;
      }

      .fixed {
        position: absolute;
      }

      .left {
        margin-left: 110px;
      }
    }

    .container-item {
      display: flex;
      min-width: 110px;

      .values {
        width: 20%;
        //background-color: #61dafb;
        border: 1px solid #87989d;
        min-width: 110px;
        min-height: 50px;

        .search {
          position: absolute;
        }
      }

    }

    .active {
      display: flex;
      min-width: 110px;
      background-color: #565e60 !important;

      .values {
        width: 20%;
        background-color: #565e60 !important;
        border: 1px solid #87989d;
        min-width: 110px;
        min-height: 50px;

        .search {
          position: absolute;
        }
      }

    }
  }
}

.search {
  position: absolute;
}

.test {

  //background-color: #61dafb;
  border: 1px solid #87989d;
  min-width: 110px;
  min-height: 50px;
  position: absolute;
  width: 110px !important;
}

.ggg {
  margin-left: 110px;
}


.rotate-image {
  transition: transform 1s ease-in-out;
}

.rotate-image.rotate {
  transform: rotate(360deg);
}


@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .landos .frame-item .frame .image {
    .image-one {
      width: 40px;
    }

    .image-two {
      width: 40px;
    }
  }
  }
